@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #BF0413;
    --cor2: #F23054;
    --cor3: #F23064;
    --cor4: #333140;
    --cor5: #F2F2F2;
}

body {
    background-color: var(--cor5);
}

/* Cabeça do menu responsivo */

header {
    background-color: var(--cor1);
    height: 90px;
    box-shadow: 0px 3px 6px #00000041;
}

header > h1 {
    text-align: center;
}
header > nav {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: end;
}
header >  nav > div#menu {
   cursor: pointer;
}

header > nav > div#menu > div.line {
    background-color: var(--cor5);
    width: 25px;
    height: 4px;
    margin-bottom: 3px;
    border: 1px solid black;
}
header > nav > div#menu:hover > div.line {
    background-color: var(--cor4);
    animation-duration: .9s;
}

header > nav > div#links {
    background-color: var(--cor1);
    display: none;
    position: absolute;
    top: 90px;
    width: 100vw;
}
header > nav > div#links > div > a {
    color: var(--cor5);
    text-decoration: none;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2px;
}
header > nav > div#links > div > a:hover {
    color: var(--cor4);
}

/* Conteúdo do site e Main */

main {
    max-width: 700px;
    margin: 10px auto;
    padding: 0px 10px;
}
main > article {
    background-color: var(--cor5);
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 3.5px;
}